.navbar {
    background-color: #051367;
}



.navbar-list{
    list-style: none;
}



.navbar-item {
    display: inline-block;
    height: 50px;
    width: 8rem;
    line-height: 50px;
    text-align: center;
}

.navbar-link{
    text-decoration: none;
    color: #eeeeee;
    display: block;
}

.navbar-item:hover{
    background-color: #2852a5;
}





.main-section{
    padding: 10em;
    margin: 2em;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9447129193474265) 50%, rgba(0,212,255,1) 100%);
    color: #eeeeee;
}

.name{
    font-size: 4em;
}

.job{
    font-size: 2.5em;
}



.cards {
    padding: 5rem 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9447129193474265) 50%, rgba(0,212,255,1) 100%);
    display: block;
    text-align: center;
}


.card1 {
   width: 25vw ; 
   background-color: #DFF6FF;
   padding: 1rem;
   margin: 1rem auto;
}
.card2 {
   width: 25vw; 
   background-color: #DFF6FF;
   padding: 1rem;
   margin: 1rem auto;
}
.card3 {
   width: 25vw; 
   background-color: #DFF6FF;
   padding: 1rem;
   margin: 1rem auto;
}

.card1:hover {
    transform: scale(1.2);
}
.card2:hover {
    transform: scale(1.2);
}
.card3:hover {
    transform: scale(1.2);
}

.card1-img {
    width: 100%;
}
.card2-img {
    width: 100%;
}
.card3-img {
    width: 100%;
}

.card-link{
    text-decoration: none;
    color:#2852a5;
    display: block;
}